@font-face {
	font-family: 'Roboto Condensed';
	src: url('RobotoCondensed-Regular.ttf') format('truetype');
}

html, body {
	height: 100%;
	margin: 0px 0px;
}

.esi-div {
	position: absolute;
	display: flex;
	align-content: center;
	flex-direction: center;
	justify-content: center;
	top:5%;
	font-family: 'helvetica';
	font-weight: bold;
	width: 100%;
	height: 1em;
	margin-block-end: 0px;
}

.esi-title {
	position: absolute;
	margin: 0px 0px;
}

.decor{
	position: 0px 0px;
	width: 100%;
	height: 100%;
}

.top-left::before {
  content: "";
  display: flex;
  position: absolute;
  top: -30%;
  left: 20%;
  width: 0.75em;
  height: 3em;
  background-color: #F1B14F;
  opacity: 1;
  z-index: -1;
}

.top-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -30%;
  left: 20%;
  width: 3em;
  height: 0.75em;
  background-color: #F1B14F;
  opacity: 1;
  z-index: -1;
}

.bottom-right::before {
  content: "";
  display: flex;
  position: absolute;
  bottom: -30%;
  right: 20%;
  width: 0.75em;
  height: 3em;
  background-color: #000;
  opacity: 1;
  z-index: -1;
}

.bottom-bottom::before {
  content: "";
  display: flex;
  position: absolute;
  bottom: -30%;
  right: 20%;
  width: 3em;
  height: 0.75em;
  background-color: #000;
  opacity: 1;
  z-index: -1;
}

.questions {
	position: relative;
	top: 20%;
	height: 60%;
}

.question{
	position: relative;
	display: flex;
	flex-direction: center;
	align-items: center;
	justify-content: center;
	padding: 2%;
	margin: 2% 4%;
	background-color: #78B159;
}

.answer_buttons {
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-content: center;
}

.answer{
	padding: 15px;
	border: 0px;
	margin: 5px 2%;
	background-color: #78B159;
}

.answer.clicked{
	background-color: #50773b;
	border: #00A651;
}

.button{
	position: absolute;
	display: flex;
	flex-direction: center;
	align-items: center;
	justify-content: center;
	bottom: 3%;
	width: 100%;
	height: auto;
}

.next_button {
	position: absolute;
	bottom: 0px;
	font-family: 'Open Sans', 'Roboto Condensed', 'Segoe UI Light', 'Calibri Light';
	text-align: center;
	height: 1.5em;
	background-image: linear-gradient(to left, #8DC63F, #00A651);
	border: 0px;
	border-radius: 10em;
	padding: 0px 20px;
	padding-bottom: 5px;
}

@media only screen and (max-height: 1000px){
	div{
		font-size: 50%;
	}
	.esi-div{
		font-size: 64px;
	}
	.question{
		font-size: 18px;
	}
	.answer{
		font-size: 12px;
	}
	.next_button{
		font-size: 32px;
	}
}

@media only screen and (min-height: 1001px){
	div{
		font-size: 50%;
	}
	.esi-div{
		font-size: 64px;
	}
	.question{
		font-size: 18px;
	}
	.answer{
		font-size: 12px;
	}
	.next_button{
		font-size: 32px;
	}
}